.info__button-edit {
	border: 0;
	outline: none;
	padding: 0;
	width: 24px;
	height: 24px;
	margin-top: 12px;
	background: url(../../../images/button-edit.svg);
	transition: .3s ease;
}

.info__button-edit:hover {
	cursor: pointer;
	opacity: 0.6;
}

@media screen and (max-width: 550px) {
	.info__button-edit {
		background-size: cover;
		width: 18px;
		height: 18px;
		margin: 6px 0 0 10px;
	}
}