@import url(__button-add/profile__button-add.css);

.profile {
	width: 882px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
}

@media screen and (max-width: 1000px) {
	.profile {
		width: 88.125vw;
	}
}

@media screen and (max-width: 550px) {
	.profile {
		padding-top: 42px;
		flex-direction: column;
	}
}