.info__subtitle {
	max-width: 500px;
	margin: 0;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
	font-size: 18px;
	line-height: 1.2;
	font-weight: normal;
}

@media screen and (max-width: 960px) {
	.info__subtitle {
		max-width: 300px;
	}
}

@media screen and (max-width: 550px) {
	.info__subtitle {
		max-width: 260px;
		grid-column: 1/-1;
		justify-self: center;
		font-size: 14px;
	}
}