.elements {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 18px;
	row-gap: 21px;
	padding: 47.25px 0 66px;
}

@media screen and (max-width: 940px) {
	.elements {
		grid-template-columns: repeat(3, 30vw);
		gap: 2vw;
	}

@media screen and (max-width: 870px) {
	.elements {
		grid-template-columns: repeat(2, 282px);
	}
}

@media screen and (max-width: 626px) {
	.elements {
		grid-template-columns: repeat(2, 45vw);
		padding-left: 2.5vw;
		padding-right: 2.5vw;
	}
}

@media screen and (max-width: 580px) {
	.elements {
		grid-template-columns: 282px;
		gap: 20px;
		padding: 36px 0 48px;
	}
}