.info__title {
	max-width: 500px;
	margin: 0;
	padding: 0 17px 16px 0;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
	font-size: 42px;
	line-height: 1;
	font-weight: 500;
}

@media screen and (max-width: 960px) {
	.info__title {
		max-width: 300px;
	}
}

@media screen and (max-width: 550px) {
	.info__title {
		max-width: 260px;
		font-size: 27px;
		padding: 0 0 14px 0;
	}
}