@import url(__copyright/footer__copyright.css);

.footer {
	width: 882px;
	padding-bottom: 60px;
	display: flex;
}

@media screen and (max-width: 882px) {
	.footer {
		width: 100vw;
	}
}

@media screen and (max-width: 540px) {
	.footer {
		padding-bottom: 36px;
	}
}