@import url(__copyright/footer__copyright.css);

.footer {
	width: 882px;
	padding-bottom: 60px;
	display: flex;
}

@media screen and (max-width: 898px) {
	.footer {
		width: 99.99%;
	}
}

@media screen and (max-width: 882px) {
	.footer {
		width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.footer {
		padding-bottom: 36px;
	}
}